<div class="container">

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" data-ng-model="searchText.name"/>

                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">

<div class="col-xs-12 col-md-4" data-ng-repeat="organization in organizations | filter:searchText">
    <div class="panel-wrapper">
        <div class="panel-title">
            <a ui-sref="organization.view({orgId: organization.name})" data-ng-click="showOrganization(organization)">{{organization.name}}</a>
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable Vs Bench
                        </div>
                        <div class="panel-stage">
                            <img src="images/{{organization.chart}}" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Projects
                        </div>
                        <div class="panel-stage" >
                            <span ng-repeat="project in organization.projects">{{project}}, </span>
                            <span>...</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by {{organization.owner}}
        </div>
    </div>
</div>

</div>