<div class="container">

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" data-ng-model="searchText.name"/>

                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4" data-ng-repeat="project in projects | filter:searchText">
    <div class="panel-wrapper">
        <div class="panel-title">
            <a ui-sref="projects.view({projId: project.name})">{{project.name}} </a>
            <span class="badge">{{project.openpositions}}</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title" ng-class='{red: project.reddays > 0}'>
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">{{project.reddays}}</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/{{project.billable}}" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title" >
                            <span data-ng-repeat="people in project.peoples">{{people}}, </span>
                            <span>... </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by {{project.owner}}
        </div>
    </div>
</div>

</div>
</div>